bin/
obj/
artifacts/
TestResults/
BenchmarkDotNet.Artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
*.nupkg
*.snupkg
*.dll
*.exe
*.pdb
project.lock.json
project.fragment.lock.json
artifacts/
coverage/
coverage.xml
*.coverage
*.coveragexml
App_Data/
*.log
.DS_Store
